@charset "utf-8";

/*CSS Reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*****************************************************CSS CODE BEGINS HERE*******************************************************************************/


body{
	margin-right: auto;
  	margin-left:  auto;
  	max-width: 1366px;
    color: #606165;
    font-weight: 400;
	line-height: 1;
	background-color:#ffffff;
}
a:link {
    color: #464646;
}
a:visited {
    color: #606165;
}
a:hover {
    color: #5E6974;
}
a:active {
    text-decoration: none;
    color: #5F3B3B;
}

/**************************************************************************LANDING HEADER******************************************/
/* Add a black background color to the top navigation */
.topnav {
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: black;
}

/* Add an active class to highlight the current page */
.active {
  color: #000000;
}
/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}
#navigationBar {
    background-color: ffffff;
    width: auto;
    height: auto;
}
#userIcon {
	position: relative;
	left: 14px;
}

.collapse {
    width: auto;
	
}
#navbarSupportedContent1 {
	max-width: 300px;
}

.userIcon {
	padding: 5;
	margin: 0;
	position: relative;
	top: 30px;
	z-index: auto;
}

.dropdown-divider {
	height: 80px;
}
nav p{
	display: inline;	
}
.col-md-12{
    list-style: none;
    background-color: #08191c;
    width: auto;
}

.col-md-12 a {
    text-decoration: none;
    color: #b7b7b7;
}
/*nav .navbar {
    height: 40px;
    width: auto;
    word-spacing: 20px;
	
}
.navbar{
    border-bottom: thick groove #b7b7b7;
    border-top: thick groove #b7b7b7;
    line-height: 1.3;
    width: auto;
}

.navbar a{
    margin: 0px;
    color: #606165;
}*/



#logo img{
	padding-top: 5px;
    position: relative;
    left: 85px;
    top: 0px;
}
.tally {
    display: inline;
    position: relative;
    top: 53px;
    height: 22px;
    left: 200px;
}
.tally p{
    font-size: 22px;
    font-family: BaskOldFace;
    color: #606165;
    font-weight: 400;
}
.fa-sleigh {
    position: relative;
    top: 45px;
    left: 190px;
}

#cartIcon {
    
	margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    position: relative;
    left: 0px;
    top: 0px;
	color: #000000;
}


/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}
#navigationBar #navDiv .navbar-toggler{
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
}
#navDiv #navbarSupportedContent1 .px-4.py-3 {
    width: 300px;
}
#newDealsBanner {
    width: 500px;
    position: relative;
    left: 300px;
    margin-right: 0px;
    margin-left: 0px;
    top: 2px;
    height: 40;
    margin-top: 3px;
    margin-bottom: 10px;
	
}


.word-spacing {
    word-spacing: 0px;
}

/************************************************************************LANDING NAVIGATION***************************************/
/* Add a black background color to the top navigation */
.topnav {
  position: relative;
  background-color: #ffffff;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

/* Centered section inside the top navigation */
.topnav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}

/* Responsive navigation menu - display links on top of each other instead of next to each other (for mobile devices) */
@media screen and (max-width: 600px) {
  .topnav a, .topnav-right {
    float: none;
    display: block;
  }

  .topnav-centered a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
}






.navbar-brand{
	font-size: 50px;
	margin: 20px 20px 0px 20px;
}

#navigationBar #newDealsBanner .img-fluid {
    height: 18px;
    position: relative;
    right: 60px;
}

#navBar {
    background-color: #FFFFFF;
}
#navDiv #navbarSupportedContent1 .px-4.py-3 {
    width: 300px;
}
#userIcon {
	position: relative;
	left: 14px;
}

#navBar .col-md-12.text-center {
    background-color: #FFFFFF;
    height: 30px;
    position: relative;
    display: inline;
    font-weight: 545px;
    word-spacing: 28px;
    color: #FFFFFF;
    font-size: 20px;
    width: auto;
}
.col-md-12 .text-center{
	background-color: #FFFFFF;
	height: 30px;
	position: relative;
	left: 68px;
	padding: 0px;
	display: inline;
	font-weight: 545px;
	word-spacing: 28px;
	font-size: 20px;
}
.col-md-11 {
	padding-top: 12px;
	font-family: BaskOldFace;
	color: #08191c;
	font-size: 20px;
	transform: matrix(1.055,0,0,1.005,0,0);
}
.navbarAd {
    width: auto;
    height: 20px;
    background-color: #740b08;
    box-shadow: 0px 0px 3.96px 0.04px rgba(0, 0, 0, 0.4);
}
.navbarAd img{
    width: 1280px;
    height: 18px;
    padding-top: 3px;
    padding-left: 7px;
    padding-right: 7px;
}
/**************************************************************************LANDING JUMBOTRON***********************************************/
.text-center {
	display: block;
}
.jumbotron {
    width: auto;
    margin: 0;
    padding: 0;
    height: 440px;
}
.carousel-inner {
	margin: 0;
	padding: 0;
}
#carouselBanner {
	position: relative;
}


center .row.text-center .text-center {
    font-size: 60px;
    color: #f2e4bb;
	font-family: BaskOldFace;
	font-weight: 400;
}
center .row.text-center h6 {
    font-size: 14px;
    color: #740b08;
	font-family: BaskOldFace;
	font-weight: 400;
}
.scroll {
	height: 100px;
	width: 100px;
	margin: 0px;
	padding-top: 40px;
}
.scroll a img {
    position: relative;
    left: 500px;
    right: auto;
    top: 80px;
}
/************************************************************************LANDING GALLERY***************************************/
.card  {
    box-shadow: 0px 0px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    background-color: #f1f1f1;
    box-sizing: border-box;
    height: 200px;
    margin-top: 25px;
    margin-right: 25px;
    margin-left: 25px;
    margin-bottom: 30px;
    width: 200px;
}
/* Float four columns side by side */
.column.product {
    width: 33%;
}
.row .product{
    /* [disabled]max-width: 1120px; */
    height: auto;
    margin-top: 20px;
    margin-bottom: 28px;
	
	
}

/* Clear floats after the columns */
.row:after {
  	content: "";
  	display: table;
  	clear: both;
}

.row .col-lg-8.text-right p {
    font-size: 20px;
	font-family: BaskOldFace;
	color: #606165;
	font-weight: 400;
}
.row .col-md-7 img {
    margin: 20px 32px;
}
.col-md-5 .searchResults p {
    margin: 15px 20px;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 1px;
}
.col-md-12.text-center a {
    color: #000000;
    font-size: 25px;
}

#uno #beMerry #ads {
    width: 105%;
}












/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {


#Reviews  {
    height: 100px;
}
#main #sidenav {
    font-family: BaskOldFace;
    color: #606165;
    font-size: 16px;
    font-weight: 400;
}
}
#Header, #Header1,#Header2,#Header3{
    font-size: 24px;
	font-family: BaskOldFace;
	color: #606165;
	font-weight: 400;
}
.row .col-md-5 h2 {
    font-size: 20px;
    margin: 15px 8px;
    letter-spacing: 1px;
}
/**************************************************LANDING SIDEBAR**********************************************/
/**************************************************LANDING SIDEBAR SEARCH FIELD**********************************************/
.col-lg-3.sidenav .form-inline-lg .btn.btn-sm.btn-light {

}
.col-lg-3.sidenav .form-inline-lg .form-control.mr-sm-2 {
    -webkit-box-shadow: -2px 2px 7px 0 #9B9CA3;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}
.btn-outline-grey {
	width: 20%;
	padding-left: 20px;
}


.form-control-lg{
	box-shadow: 20 20 10 70 #9b9ca3;
}
form .form-control-lg input[type=text] {
  padding: 10px;
  font-size: 14px;
  border: 1px solid grey;
  width: 80%;
  background: #f1f1f1;
	font-family: BaskOldFace;
	font-weight: 400;
}

form {
	padding: 0px;
	position: relative;
	right: 15px;
	z-index: auto;
}
/* Style the submit button */
form .button {
	position: relative;
	top: 1.3px;
	right: 0px;
	float: left;
	width: 15%;
	padding: 7px;
	background: #acacac;
	color: white;
	font-size: 14px;
	border: 1px solid grey;
	border-left: none; /* Prevent double borders */
	cursor: pointer;
	font-family: BaskOldFace;
	
}

form.example button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}
.col-lg {
	margin-top: 20px;
	margin-bottom: 15px;
	width: 200px;
	padding-left: 0px;
}
.col-lg-3{
	width: 300px;
  position: relative;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
	margin-top: 40px;
}
.col-lg-3 a {
    padding: 8px 8px 6px 6px;
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    display: block;
    font-family: BaskOldFace;
}
/*************************************************LANDING FOOTER********************************************/

footer .container{
	display: inline;	
}
#footer .row p  {
    font-size: 16px;

}
.row .col-lg-8 h1 {
    margin-top: 0px;
    margin-right: 0px;
    /* [disabled]margin-left: 10px; */
    font-size: 16px;
    font-family: BaskOldFace;
    font-weight: 400;
}
.card.wine .img-fluid  {
    height: 350px;

}

.row .col-md-4 h1 {
    font-size: 22px;
    font-family: BaskOldFace;
}


.row .col-md-4 #footerLinks, #footerLinks2, #footerlinks3 {
    margin: 10px 0px 20px 15px;
    font-size: 14px;
    font-family: BaskOldFace;
    letter-spacing: 1px;
	line-height: 1.3;
}

#footerLinks3{
	margin: 10px 0px 60px 15px;
    font-size: 14px;
    font-family: BaskOldFace;
    letter-spacing: 1px;
	line-height:1.3;
}
#socialIcons a p{
	margin: 10px;
    display: inline;
}
#socialIcons .social-buttons p {
    margin-top: 55px;
}
#socialIcons .social-buttons {
    margin: 50px;
}


/**********************************************LANDING PAGE ADVERTISEMENTS*****************************************/

.col-sm {
	height: 60px;
}
.mb-3  {

}
.card.berry {
    height: auto;
    margin-top: 10px;
    margin-left: 0px;
    margin-bottom: 10px;
    width: 500px;
    margin-right: 0px;
}
.container .card.berry .img-fluid  {
    height: 275px;
    width: 500px;


}



#ad2 {
	background-image: url("Images/redPlaid.jpeg");
	height: auto;
}

/*Product Card Caption*/
.caption {
	margin-bottom: 5px;
	
}

.listPrice {
	text-decoration: line-through;
}

.markDown {
		color: #ED0A0E;
}



#main {
	width: auto;
}

.sidenav {
	position: relative;
	left: 10px;
}

hr {
	width: 160px;
	position: relative;
	right: 55px;
}

.footerHr {
	width: auto;
}

.card.wine {
    height: auto;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 400px;
    position: relative;
    left: 180px;
}

#uno {
    width: auto;
    height: auto;
    position: relative;
}

#beMerry {
	width: 105%;
	
}

/*************************************************************************************TEST PAGE CODE*******************************************************************/
/* Main content of the site */
#content {
	clear: both;
	overflow: auto;
	padding-top: 29px;
}
/* Sidebar */
#content .sidebar {
	font-family: 'Montserrat', sans-serif;
	color: rgba(146,146,146,1.00);
	float: left;
	width: 20%;
	padding-left: 3%;
	padding-right: 3%;
	text-align: center;
	background-color: rgba(246,246,246,1.00);
	padding-top: 36px;
	height: 784px;
}
/* main content of the site */
#content .mainContent {
	float: left;
	width: 70%;
	text-align: center;
	padding-left: 4%;
}
/*menubar's properties for menus in sidebar */
#content .sidebar #menubar {
	text-align: left;
	color: rgba(146,146,146,1.00);
	position: relative;
	left: 0%;
}
/* Search field in sidebar */
#content .sidebar #search {
	width: 100%;
	border-radius: 0px;
	height: 42px;
	text-align: center;
	color: rgba(208,207,207,1.00);
	font-size: 14px;
	;
	margin-bottom: 21px;
}
/* Whole page content */
#mainWrapper {
	width: 80%;
	padding-left: 10%;
}
/*menu elements */
.menu ul li {
	list-style-type: none;
	font-size: x-large;
	position: relative;
	left: -35px;
	padding-top: 12px;
}
/* Product rows for catalog */
#content .mainContent .productRow {
	overflow: auto;
	color: rgba(146,146,146,1.00);
}
/* Each product Information in the catalog */
.mainContent .productRow .productInfo {
	float: left;
	padding-left: 5%;
	padding-right: 5%;
	width: 22%;
}
/* Prices of a products in catalog */
.productRow .productInfo .price {
	font-family: 'Montserrat', sans-serif;
	color: rgba(146,146,146,1.00);
	font-size: 22px;
	position: relative;
	top: -20px;
}
/* Content holder for products in catalog*/
.productRow .productInfo .productContent {
	position: relative;
	top: -37px;
	font-size: 14px;
	font-family: source-sans-pro, sans-serif;
	font-style: normal;
	font-weight: 200;
	color: rgba(146,146,146,1.00);
	white-space: pre-wrap;
}
/* Buy button for products in catalog */
.productRow .productInfo .buyButton {
	position: relative;
	top: -48px;
	width: 84%;
	background-color: rgba(208,207,207,1.00);
	height: 35px;
	color: rgba(255,255,255,1.00);
	border-style: none;
	font-size: 14px;
	text-transform: uppercase;
	margin-top: 8px;
}
